{% extends 'base.html.twig' %}


{% block content %}

    <form action="/login" method="post">
        <input type="text" placeholder="Email" name="email">
        <input type="text" placeholder="Password" name="password">
        <input type="submit" value="Submit">
    </form>
{% endblock %}

