{% extends 'base.html.twig' %}

{% block body %}
    abc
{% endblock %}

{% block content %}
    {#{{ dump(app) }}#}
    {# display message in session#}
    {% for message in app.flashes("message") %}
         {{ message }}
    {% endfor %}
{% endblock %}

